/* 
	CSS by Dan Høegh
	UCN MMD 2018 
*/

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	padding: 50px;
	font-size: 1.5rem;
	margin: 0;
	background-color: #1dd1a1;
	}

input,
select,
textarea {
	color: #000;
	border: none;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	background-color: #fff;
	padding: 10px;
	font-size: 1.5rem;
	width: 650px;
	display: inline-block;
}

input:focus {
	border-bottom: 5px solid #54a0ff;
 	outline: none;
}

input[type="number"]{
	width: 200px;
	text-align: right;
}


input[type="checkbox"],
input[type="radio"] {
	line-height: 20px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	position: relative;
	top: -2px;
}

input[type="checkbox"] {
	border: none;
	margin-right: 10px;
}

input[type="radio"] {
}


label {
	display: inline-block;
	user-select: none;
	width: 200px;
}

button {
	background-color: #0abde3;
	box-shadow: 5px 5px 3px 0 rgba(0,0,0,.3);
	border: none;
	padding: 20px 70px;
	color: #fff;
	cursor: pointer;
	transition: all .1s linear;
	margin-left: 200px;
	display: inline-block;
}

button:active {
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,.3);
}

button[disabled] {
	width: 250px;
	opacity: .5;
	cursor: initial;
}

button + button {
	margin-left: 20px;
}

form .item {
	padding: 10px 0;
}

#outputWrapper {
    border: 5px solid grey;
    border-radius: 20px;
    height: 450px;
    padding: 10px 10px 10px 20px;
    width: 600px;
    background: repeating-linear-gradient(transparent, transparent 1px, black 3px, black 3px);
    background-color: #212321;
}

form + #outputWrapper {
	margin-top: 20px;
}

#output {
    overflow-y: scroll;
    color: #3c8;
    font-family: consolas, sans-serif;
	height: 410px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3); 
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
}